body {
    margin: 0;
}

header {
    background-color: rgb(0, 124, 255);
    display: flex;
    justify-content: space-between;
    /*padding-left: 100px;
    padding-right: 100px;*/
    padding-inline: 100px;
    color: white;
}
 
.header-logo {
    display: flex;  
    align-items: center; 
    gap: 10px; 
} 

.header-social {
    display: flex;  
    align-items: center; 
    gap: 5px; 
}

.banner {
    height: 500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHmf71dyyLAu8S-YDL5Q-xsMZw9mjD8lO7VSQkhku_CgMpkuKUp80Sof45OWX9Nguuoxk&usqp=CAU);
    background-position: center center;
    background-size: cover;
}